.input_form {
    font-size:9pt;
}

	ul.tabs {
		margin: 0;
		padding: 0;
		float: left;
		list-style: none;
		height: 32px;
		border-bottom: 1px solid #999999;
		border-left: 1px solid #999999;
		width: 100%;
	}

	ul.tabs li {
		float: left;
		margin: 0;
		cursor: pointer;
		padding: 0px 21px ;
		height: 31px;
		line-height: 31px;
		border: 1px solid #999999;
		border-left: none;
		font-weight: bold;
		background: #EEEEEE;
		overflow: hidden;
		position: relative;
	}

	ul.tabs li:hover {
		background: #CCCCCC;
	}	

	ul.tabs li.active{
		background: #FFFFFF;
		border-bottom: 1px solid #FFFFFF;
	}

	.tab_container {
		border: 1px solid #999999;
		border-top: none;
		clear: both;
		float: left; 
		width: 100%;
		background: #FFFFFF;
	}

	.tab_content {
		padding: 20px;
		font-size: 1.2em;
		display: none;
	}

    iframe.answer_iframe {
        border:1px solid #ccc;
        width:600px;
        height:250px;
    }


    .comment{
        width: 500px;
        background-color: #a0a0aa;
        text-align: left;
        padding: 10px;
        color: Black;
        border:#000000 2px solid;
        font-size:9pt;
    }
   
    .growImage img{  
		width: 200px; 
		margin: 15px 0; 
		-webkit-transition: all 1s ease; 
		-moz-transition: all 1s ease; 
		-o-transition: all 1s ease; 
    } 

    .growImage img:hover {  
		width: 384px; 
		margin-left: -20px; 
    }
    
    .invalidInput {
        color:white;
        background-color:red; 
        font-weight:bold;
    }

    .answerText {
        font-size: 10pt;
    }

    .answerHeader {
        font-size: 14pt;
        font-weight:bold;
    }
